{% extends 'filesystem/base.html' %}

{% block content %}
<form action="" method="">
    <h1>{{ file.title }}</h1>
    {% if file.file.name|lower|slice:'-3:' == 'jpg' or file.file.name|lower|slice:'-3:' == 'jpeg' or file.file.name|lower|slice:'-3:' == 'png' or file.file.name|lower|slice:'-3:' == 'gif'  %}
        <img width="500" height="500" src="{{ file.file.url }}" alt="{{ file.title }}">
    {% elif file.file.name|lower|slice:'-3:' == 'mp4' %}
        <video width="500" height="500" controls autoplay>
            <source src="{{ file.file.url }}" type="video/mp4">
            Your browser does not support the video.
        </video>
    {% elif file.file.name|lower|slice:'-3:' == 'mp3' %}
        <audio controls autoplay>
            <source src="{{ file.file.url }}" type="audio/mpeg">
            Your browser does not support the audio.
        </audio>
    {% endif %}
    <p>{{ file.description }}</p>
    <li>
        <button>
            <a href="{% url 'filesystem:download_file' file_id=file.id %}">
                 Download {{ file.title }}
            </a>
        </button>
    </li>
    <li>
        <button>
            <a href="{% url 'filesystem:send_file_email' file.id %}">
                Send Email
            </a>
        </button>
    </li>
</form>
{% endblock %}